body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8d7d7d9c;
}

header {
    background: #ce2e2e;
    color: rgb(105, 94, 94);
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Move the logo to the left side */
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ce2e2e;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px; /* Espaciado alrededor del texto */
    transition: background-color 0.3s; /* Transición suave */
}

nav ul li a:hover {
    background-color: #000000; /* Color de fondo al hacer hover */
    border-radius: 5px; /* Bordes redondeados */
}


.game-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cookie-clicker img {
    cursor: pointer;
}

.shop button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#cookieBoostBtn {
    margin-top: 10px;
    background-color: #ff7300;
}

#autoClickerBtn {
    margin-top: 10px;
    background-color: #ff7300;
}
