/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

header {
    background-color: #1090c2;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    width: 60px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f4f4f4;
}

#hero {
    background: url('photo-1512250431446-d0b4b57b27ec.jpg') no-repeat center center/cover;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
}

section {
    padding: 50px 20px;
}

#about, #projects, #contact {
    background-color: #fff;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3 ease;
}

.project img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    background-color: #1090c2;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}