/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

header {
    background-color: #1090c2;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    width: 60px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f4f4f4;
}

#hero {
    background: url('photo-1512250431446-d0b4b57b27ec.jpg') no-repeat center center/cover;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
}

section {
    padding: 50px 20px;
}

#about, #projects, #contact {
    background-color: #fff;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3 ease;
}

.project img:hover {
    transform: scale(1.05);
}


.social-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px; /* Espacio entre los iconos */
}

.social-buttons a {
    display: inline-block;
    text-decoration: none;
}

.social-icon {
    width: 5px; /* Tamaño del icono */
    height: 5px;
    transition: transform 0.3s; /* Efecto al pasar el mouse */
}

.social-icon:hover {
    transform: scale(1.2); /* Efecto de aumento al pasar el mouse */
}


.comments-section {
  background-color: #f1f1f1;
  padding: 40px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.comments-section h2 {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment-form input,
.comment-form textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.comment-form button {
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: #555;
}

#comentarios-publicados {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#comentarios-publicados div {
  margin-bottom: 20px;
}

#comentarios-publicados div h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

#comentarios-publicados div p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}


footer {
    text-align: center;
    background-color: #1090c2;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
